project:
  type: website
  output-dir: docs

website:
  title: "Andrew Gan"
  favicon: favicon.png
  page-navigation: true
  navbar:
    search: true
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: data_visualisation.qmd
        text: Data Visualisation
      - href: reflection.qmd
        text: Reflection
  

format:
  html:
    theme: darkly
    css: styles.css
    toc: true
    toc-depth: 3
    toc-location: left
    




